body {
    font-family           : sans-serif;
    color                 : white;
    background-image      : url(/media/imgs/background.jpg);
    padding               : 0px;
    margin                : 0px;
    overflow              : hidden;
}

.template {
    display               : none;
}

.eidol_staging {
    display               : none;
}

.top_bar {
    width                 : 100%;
}

.history {
    text-align            : center;
    padding               : 10px;
    width                 : 50%;
    margin-left           : auto;
    margin-right          : auto;
    border                : solid 1px #CCC;
    border-top            : none;
    background-image      : -webkit-gradient(linear, left top, left bottom, from(rgba(65, 134, 211, 0.5)), color-stop(0.5, rgba(39, 79, 125, 0.9)), to(rgba(21, 59, 101, 0.5)));
    -webkit-border-bottom-left-radius : 10px;
    -webkit-border-bottom-right-radius: 10px;
}

.center_pane {
    position              : absolute;
    top                   : 10%;
    left                  : 0px;
    width                 : 100%;
    height                : 80%;
}

.center_pane .focus {
    width                 : 60%; 
    height                : 80%;
    margin-top            : 10%;
    margin-bottom         : 10%;
    text-align            : center;
}

.center_pane .left_dock {
    width                 : 20%;
    height                : 100%;
}

.center_pane .right_dock {
    width                 : 20%;
    height                : 100%;
}

.dock {
}

.dock .eidol {
    margin                : 2px;
}

.left_dock .eidol:hover {
    margin-left           : 4px;
}

.right_dock .eidol:hover {
    margin-right          : 4px;
}

.bottom_bar { 
    width                 : 100%;
    position              : absolute;
    bottom                : 10px;
    text-align            : center;
    padding-bottom        : 0px;
}

.launcher {
    cursor                : pointer;
    padding               : 10px;
    margin-bottom         : 10px;
    display               : inline;
    border                : solid 1px #CCC;
    border-bottom         : none;
    background-image      : -webkit-gradient(linear, left top, left bottom, from(rgba(65, 134, 211, 0.5)), color-stop(0.5, rgba(39, 79, 125, 0.9)), to(rgba(21, 59, 101, 0.5)));
    -webkit-border-top-left-radius : 10px;
    -webkit-border-top-right-radius: 10px;
}

.focus .eidol {
    width                 : 50%;
    margin-left           : auto;
    margin-right          : auto;
}

.eidol.open {
    -webkit-border-top-left-radius    : 10px;
    -webkit-border-top-right-radius   : 10px;
    -webkit-border-bottom-left-radius : 10px;
    -webkit-border-bottom-right-radius: 10px;
}

.eidol.open .header {
    width                 : 100%;
    padding               : 10px;
    padding-bottom        : 0px;
    text-align            : center;
    background-image      : -webkit-gradient(linear, left top, left bottom, from(rgba(65, 134, 211, 0.5)), to(rgba(39, 79, 125, 0.8)));
    border                : solid 1px #CCC;
    border-bottom         : none;
    -webkit-border-top-left-radius    : 10px;
    -webkit-border-top-right-radius   : 10px;
}

.eidol.open .drag_handle {
    display               : inline-block;
}

.eidol.open .eidol_icon {
    display               : inline;
    margin-bottom         : -3px;
    height                : 25px;
}

.eidol.open .edit_title_icon {
    float                 : right;
    cursor                : pointer;
    margin-bottom         : -3px;
    height                : 25px;
}

.eidol.open .title {
    display               : inline-block;
    cursor                : pointer;
    height                : 25px;
    font-size             : 20px;
    font-weight           : bold;
    white-space           : nowrap;
    overflow              : none;
    max-width             : 50%;
}

.eidol.open .body {
    width                 : 100%;
    padding               : 10px;
    padding-bottom        : 0px;
    text-align            : left;
    border                : solid 1px #CCC;
    border-top            : none;
    border-bottom         : none;
    background-image      : -webkit-gradient(linear, left top, left bottom, from(rgba(39, 79, 125, 0.8)), to(rgba(21, 59, 101, 0.8)));
}

.eidol.open .footer {
    width                 : 100%;
    height                : 10px;
    padding               : 10px;
    border                : solid 1px #CCC;
    border-top            : none;
    background-image      : -webkit-gradient(linear, left top, left bottom, from(rgba(21, 59, 101, 0.8)), to(rgba(65, 134, 211, 0.5)));
    -webkit-border-bottom-left-radius : 10px;
    -webkit-border-bottom-right-radius: 10px;
}

.eidol.closed {
    display               : table;
    width                 : auto;
    padding               : 10px;
    text-align            : center;
    font-size             : 14pt;
    font-weight           : bold;
    cursor                : pointer;
    border                : solid 1px #CCC;
    background-image      : -webkit-gradient(linear, left top, left bottom, from(rgba(65, 134, 211, 0.5)), color-stop(0.5, rgba(39, 79, 125, 0.9)), to(rgba(21, 59, 101, 0.5)));
    -webkit-border-top-left-radius    : 10px;
    -webkit-border-top-right-radius   : 10px;
    -webkit-border-bottom-left-radius : 10px;
    -webkit-border-bottom-right-radius: 10px;
}

.eidol.closed .header {
}

.eidol.closed .drag_handle {
    display               : inline-block;
}

.eidol.closed .title {
    display               : inline;
}

.eidol.closed .eidol_icon {
    display               : inline;
    margin-bottom         : -4px;
    height                : 25px;
}

.eidol.closed .edit_title_icon {
    display               : none;
}

.eidol.closed .body {
    display               : none;
}

.eidol.closed .footer {
    display               : none;
}

