<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <!-- CSS -->
    <link rel="stylesheet/less" href="../media/css/eidolon.less">
    
    <!-- Underscore -->
    <script type="text/javascript" src="../media/js/underscore/underscore-min.js"></script>
    
    <!-- Backbone -->
    <script type="text/javascript" src="../media/js/backbone/backbone-min.js"></script>
    
    <!-- jQuery -->
    <script type="text/javascript" src="../media/js/jquery/jquery-2.0.3.min.js"></script>
    
    <!-- Handlebars -->
    <script type="text/javascript" src="../media/js/handlebars/handlebars.js"></script>

    <!-- Tween -->
    <script type="text/javascript" src="../media/js/tween/TweenMax.min.js"></script>
   
    <!-- Eidolon -->
    <script type="text/javascript" src="../media/js/eidolon/eidolon.core.js"></script>
    <script type="text/javascript" src="../media/js/eidolon/eidolon.eidol.js"></script>
    <script type="text/javascript" src="../media/js/eidolon/eidolon.dock.js"></script>
    <script type="text/javascript" src="../media/js/eidolon/eidolon.sidedock.js"></script>
    <script type="text/javascript" src="../media/js/eidolon/eidolon.focus.js"></script>
    <script type="text/javascript" src="../media/js/eidolon/eidolon.launcher.js"></script>
    <script type="text/javascript" src="../media/js/eidolon/eidolon.history.js"></script>
    
    <!-- LESS -->
    <script type="text/javascript" src="../media/js/less/less-1.4.1.min.js"></script>
   
    <script id="eidol-template" type="text/x-handlebars-template">

      <div class="eidol closed" id="{{id}}">
        <div class="header">
          <img class="eidol_icon" src="../media/imgs/eidol.png">
          <div class="title">
            {{title}}
          </div>
        </div>

        <div class="body" contenteditable="true">
          {{body}}
        </div>

        <div class="footer">
        </div>
      </div>

    </script>

  </head>
  <body>
    
    <div id="eidol_staging">
    </div>      


    <div id="container">
      <div id="top_bar">
        <div id="history">
          Monday, May 10th, 2010
        </div>
      </div>

      <div id="center_pane">
          <div id="left_dock" class="dock">
          </div>

          <div id="focus">
          </div>

          <div id="right_dock" class="dock">
          </div>
      </div>

      <div id="bottom_bar">
        <div id="launcher">
          New Object
        </div>
      </div>
    </div>

    <script type="text/javascript">
        Eidolon.Initialize(); 
    </script>

  </body>
</html>
